@tailwind base;
@tailwind components;
@tailwind utilities;

/* FIX SAFARI DATE INPUT */
input[type="date"],
input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: white !important;
  padding: 12px !important;
  border-radius: 8px !important;
  width: 100% !important;
  height: 46px !important;
  font-size: 14px !important;
  color: #000 !important;
  border: 1px solid #d1d5db !important;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 1 !important;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
